html {
  background-image: linear-gradient(#ff9500, #ff5e3a);
  font-family: Overpass, sans-serif;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.btn-ghost {
  border-color: #fff;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: transparent;
}

.item {
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

@media screen and (max-width: 60em) {
  .item {
    border-right: 2px solid rgba(255, 255, 255, .5);
  }
}
